<div class="container">
<%= form_for @cohort do |f| %>  
    <%= f.label :name %>  
    <%= f.text_field :name, value: @cohort.name, required: true, :class => "form-control" %>  
    <%= f.label :start_date %>  
    <%= f.text_field :start_date, value: @cohort.start_date, required: true, :class => "form-control" %>
    <%= f.label :end_date %>  
    <%= f.text_field :end_date, value: @cohort.end_date, required: true, :class => "form-control"%> 
    <%= f.label :instructor_id %>  
    <%# can not seem to make value to select @cohort.instructor_id %>
    <%= f.select(:instructor_id, Instructor.all.collect {|instructor| ["#{instructor.id}" + " " + instructor.lastname + ", " + instructor.firstname]}, {value: @cohort.instructor_id}, {:class=>"browser-default form-control"})  %> 
    <%= f.label :course_id %>  
    <%= f.select(:course_id, Course.all.collect {|course| [course.name]}, {value: @cohort.course_id}, {:class=>"browser-default form-control"}) %> 
    <%= f.submit :class => "btn btn-primary"%>
<% end %>

<p><a href="/cohorts"> Cancel </a></p>
</div>

