<div class="container">
<%= form_for @cohort, remote: true do |f| %>  
    <%= f.label :name %>  
    <%= f.text_field :name, required: true,:class => "form-control" %>  
    <%= f.label :start_date %>  
    <%= f.text_field :start_date, required: true ,:class => "form-control"%>
    <%= f.label :end_date %>  
    <%= f.text_field :end_date, required: true,:class => "form-control" %> 
    <%= f.label :instructor_id %>  
    <%= f.collection_select :instructor_id, Instructor.order(:lastname), :id, :firstname, { include_blank: true }, {:class=>"form-control"} %> 
    <%= f.label :course_id %>  

   <%# <%= f.select(:course_id, Course.all.collect {|course| ["#{course.id}" + " " + course.name]}, {include_blank: true }, {:class=>"browser-default form-control"}) %> 

    <%= f.collection_select :course_id, Course.order(:name), :id, :name, {include_blank: true}, {:class=> "form-control"} %> 
    <%= f.submit :class => "btn btn-primary" %>
<% end %>
<p><a href="/cohorts"> Cancel </a></p>
</div>

