<h1>Cohort Page</h1>


<div>
	<p>Name: <%= @cohort.name %></p>
	<p>Start Date: <%= @cohort.start_date %></p>
	<p>End Date: <%= @cohort.end_date %></p>
	<p>Instructor ID: <%= @cohort.instructor_id %> </p>
	<p>Course ID: <%= @cohort.course_id %> </p>
</div>