<div class="container">
<h1>Student List</h1>
<p><a href="students/new">Create Student</a></p>

<table class="table table-hover">
   	<thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Education</th>
            <th>Cohort</th>
        </tr>
    </thead>
 <tbody>
<% @students.each do |student| %>
        <tr>
           	<td><a href="students/<%= student.id %>"><%= student.lastname %>, <%= student.firstname %></td>
            <td><%= student.age %></td>
            <td><%= student.education %></td>
            <% if student.cohort_id != nil %>
            <% cohort_name = Cohort.where(id: student.cohort_id).pluck(:name) %>
            <td><%= cohort_name.join("") %></td>
            <% else %>
            <td> No Cohort Assigned </td>
            <% end %>
            <td><%= link_to 'Edit', edit_student_path(student) %></td>
    		<td id="student-<%= student.id %>"><%= link_to 'Destroy', student_path(student), method: :delete, remote:true, data: { confirm: "Are you sure you want to delete #{student.lastname},#{student.firstname}?" } %></td>
        </tr>
        <%end%>
    </tbody>
</table>
</div>
