<div class="container">
<%= form_for @student do |f| %> 

    <%= f.label :firstname %>  
    <%= f.text_field :firstname,:class => "form-control" %> 


    <%= f.label :lastname %>  
    <%= f.text_field :lastname,:class => "form-control" %>

    <%= f.label :age %>  
    <%= f.number_field :age, min: '1', max: '149', :class => "form-control" %>


    <%= f.label :education %>  
    <%= f.select(:education, ["Highschool","College","Masters","PHD"], {include_blank: true},{:class=>"browser-default form-control"})%> 


    <%= f.label :cohort_id %>  
    <%= f.select(:cohort_id, Cohort.all.collect {|cohort| [cohort.id + " " + cohort.name]}, {include_blank: true}, {:class=>"browser-default form-control"}) %> 
    <%# maybe make a drop down menu with cohort name instead of id %>


    <%= f.submit :class => "btn btn-primary" %>

<% end %>
<p><a href="/students"> Cancel </a></p>

</div>



