<div class="container-fluid">

<h1> <%= @student.lastname %>, <%= @student.firstname %></h1>


<table class="table table-bordered">
   	<thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Education</th>
            <th>Cohort</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           	<td><%= @student.lastname %>, <%= @student.firstname %></td>
            <td><%= @student.age %></td>
            <td><%= @student.education %></td>
            <% if @student.cohort_id != nil %>
            <% cohort_name = Cohort.where(id: @student.cohort_id).pluck(:name) %>
            <td><%= cohort_name.join("") %></td>
            <% else %>
            <td> No Cohort Assigned </td>
            <% end %>
        </tr>
    </tbody>
</table>

<p><a href="/students"> Back </a></p>
</div>
