<div class="container">
<%= form_for @instructor do |f| %>  
    <%= f.label :firstname %>  
    <%= f.text_field :firstname, value: @instructor.firstname,:class => "form-control" %>  
    <%= f.label :lastname %>  
    <%= f.text_field :lastname, value: @instructor.lastname,:class => "form-control" %>
    <%= f.label :age %>  
    <%= f.number_field :age, min: '1', max: '149', value: @instructor.age,:class => "form-control" %> 
    <%= f.label :salary %>  
    <%= f.number_field :salary, min: '1', max: '99999999', value: @instructor.salary,:class => "form-control" %>   
    <%= f.label :education %>  
    <%= f.select(:education, ["Highschool","College","Masters","PHD"], {value: @instructor.education},{:class=>"browser-default form-control"})%> 
    <%= f.label :subject %>  
    <%= f.text_field :subject, value: @instructor.subject,:class => "form-control" %>
    <%= f.submit :class => "btn btn-primary" %>
<% end %>
<p><a href="/instructors"> Cancel </a></p>
</div>

