<div class="container-fluid">
<h1> <%= @instructor.lastname %>, <%= @instructor.firstname %> </h1>

<table class="table table-bordered">
   	<thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Education</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           	<td><%= @instructor.lastname %>, <%= @instructor.firstname %></td>
            <td><%= @instructor.age %></td>
            <td><%= @instructor.salary %></td>
            <td><%= @instructor.education %></td>
            <td><%= @instructor.subject %></td>

        </tr>
    </tbody>
</table>
<p><a href="/instructors"> Back </a></p>
</div>



