<h1> Instructor Page </h1>
<div>
	<p>First Name: <%= @instructor.firstname %></p>
	<p>Last Name: <%= @instructor.lastname %></p>
	<p>Age: <%= @instructor.age %></p>
	<p>Salary: <%= @instructor.salary %></p>
	<p>Education: <%= @instructor.education %></p>
	<p>Subject: <%= @instructor.subject %></p>
</div>